{% extends "base.html.twig" %}

{% block title %}Page d'inscription{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-success">Inscription</button>
        {{ form_end(form) }}
    </div>

{% endblock %}