a:link {
    text-decoration: none;
}

img.tricks {
    max-height: 240px;
    max-width: 240px;
}

img.tricks-micro {
    max-height: 40px;
    max-width: 40px;
}

.container, .container-fluid {
    padding-top: 3em;
    padding-bottom: 3em;
}

img.avatar{
    max-width: 120px;
    max-height: 120px;
}

img.avatar-micro{
    max-width: 60px;
    max-height: 60px;
}

img.profile-micro {
    max-height:30px;
    max-width: 30px;
    border-radius: 50%;
}