{% extends "base.html.twig" %}

{% block title %}Modification d'un trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Ajout d'un trick</h1>
        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                <button type="submit" class="btn btn-success">Ajouter le tricks</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {# Script pour changer le nom du fichier lors de l'upload #}
    <script type="application/javascript">
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}