{% extends 'base.html.twig' %}

{% block title %}Ajout d'image{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajout d'images</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Ajouter l'image</button>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block javascripts %}
    {# Script pour changer le nom du fichier lors de l'upload #}
    <script type="application/javascript">
        $('input[type="file"]').change(function(e){
            var fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
    </script>
{% endblock %}
