{% extends 'base.html.twig' %}

{% block title %}Ajout de vidéo{% endblock %}

{% block body %}
<div class="container text-center">
    <h1>Ajout d'une vidéo</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Ajouter la vidéo</button>
    {{ form_end(form) }}
</div>
{% endblock %}
